version 20190606.224121_builder.r1033375;
interfaces {
    lo0 {
        unit 0 {
            family iso {
                address {{ my.isis.net }};
            }
        }
    }
}
policy-options {
    policy-statement ebgp-in {
{% if policy == "none" %}
        then accept;
{% else %}
        term valid {
            from validation-database valid;
            then {
                community add rpki-ov-valid;
                accept;
            }
        }
        term notfound {
            from validation-database unknown;
            then {
                community add rpki-ov-notfound;
                accept;
            }
        }
        term invalid {
            from validation-database invalid;
{% if policy == "report" %}
            then {
                community add rpki-ov-invalid;
                accept;
            }
{% else %}
            then reject;
{% endif %}
        }
{% endif %}
    }
    policy-statement ebgp-out {
        then accept;
    }
    policy-statement ibgp-in {
        then accept;
    }
    policy-statement ibgp-out {
        then accept;
    }
{% if policy != "none" %}
    community rpki-ov-invalid members 0x4300:0.0.0.0:2;
    community rpki-ov-notfound members 0x4300:0.0.0.0:1;
    community rpki-ov-valid members 0x4300:0.0.0.0:0;
{% endif %}
}
routing-options {
    router-id {{ my.loopback.ipv4 }};
    autonomous-system 65000;
{% if policy != "none" %}
    validation {
        group rpki-ov {
            session 2001:db8:1:1::201 {
                port 8323;
            }
            session 2001:db8:1:1::202 {
                port 8323;
            }
        }
    }
{% endif %}
}
protocols {
    isis {
        level 1 disable;
        interface lo.0 {
            passive;
        }
{% for interface in my.isis.interfaces %}
        interface {{ interface }} {
            point-to-point;
        }
{% endfor %}
    }
    bgp {
        group ibgp4 {
            type internal;
            local-address {{ my.loopback.ipv4 }};
            family inet {
                unicast;
            }
            import ibgp-in;
            export ibgp-out;
{% for neighbor in other %}
            neighbor {{ neighbor.loopback.ipv4 }};
{% endfor %}
        }
        group ibgp6 {
            type internal;
            local-address {{ my.loopback.ipv6 }};
            family inet6 {
                unicast;
            }
            import ibgp-in;
            export ibgp-out;
{% for neighbor in other %}
            neighbor {{ neighbor.loopback.ipv6 }};
{% endfor %}
        }
        group ebgp4 {
            type external;
            family inet {
                unicast;
            }
            import ebgp-in;
            export ebgp-out;
{% for neighbor in my.neighbors %}
            neighbor {{ neighbor.ipv4 }} {
                peer-as {{ neighbor.peer_as }};
            }
{% endfor %}
        }
        group ebgp6 {
            type external;
            family inet6 {
                unicast;
            }
            import ebgp-in;
            export ebgp-out;
{% for neighbor in my.neighbors %}
            neighbor {{ neighbor.ipv6 }} {
                peer-as {{ neighbor.peer_as }};
            }
{% endfor %}
        }
    }
}
